In [1]:
import pandas as pd
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
import pickle

In [2]:
df = pd.read_csv(r"C:\Users\Amey\PycharmProjects\weather forecasting\wdata\Temperature_And_Precipitation_Cities_IN\Chennai_1990_2022_Madras.csv")
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  25.2  22.8  28.4   0.5
1  02-01-1990  24.9  21.7  29.1   0.0
2  03-01-1990  25.6  21.4  29.8   0.0
3  04-01-1990  25.7   NaN  28.7   0.0
4  05-01-1990  25.5  20.7  28.4   0.0

In [3]:
df.columns

Index(['time', 'tavg', 'tmin', 'tmax', 'prcp'], dtype='object')

In [4]:
df.dtypes

time     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
dtype: object

In [5]:
df['time'] = pd.to_datetime(df['time'], format='%d-%m-%Y')

In [6]:
df.dtypes

time    datetime64[ns]
tavg           float64
tmin           float64
tmax           float64
prcp           float64
dtype: object

In [7]:
data=df[['time','tavg']]
data.dropna(inplace=True)
data.columns=['ds','y']
data.head()

WARNING - (py.warnings._showwarnmsg) - C:\Users\Amey\AppData\Local\Temp\ipykernel_17236\1855940670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

          ds     y
0 1990-01-01  25.2
1 1990-01-02  24.9
2 1990-01-03  25.6
3 1990-01-04  25.7
4 1990-01-05  25.5

In [9]:
model=NeuralProphet()  #untrained neuralprophet model
model.fit(data,freq='D',epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.831% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 64
WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (186) is too small than the required number                     for the learning rate finder (251). The results might not be optimal.

Finding best initial lr:   0%|          | 0/251 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

           MAE       RMSE      Loss  RegLoss  epoch
0    22.254717  24.096106  1.071593      0.0      0
1    20.161764  21.849810  0.930384      0.0      1
2    18.050261  19.598003  0.788466      0.0      2
3    15.954350  17.340502  0.648405      0.0      3
4    13.847922  15.079039  0.510836      0.0      4
..         ...        ...       ...      ...    ...
995   0.962263   1.226137  0.004179      0.0    995
996   0.962552   1.227535  0.004178      0.0    996
997   0.963013   1.228865  0.004190      0.0    997
998   0.963112   1.229139  0.004183      0.0    998
999   0.962101   1.225934  0.004177      0.0    999

[1000 rows x 5 columns]

In [10]:
future=model.make_future_dataframe(data,periods=900)
forecast=model.predict(future)
forecast.head()

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.831% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 186it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

          ds     y      yhat1      trend  season_yearly  season_weekly
0 2022-07-26  None  30.325214  28.748857       1.583596      -0.007239
1 2022-07-27  None  30.293575  28.748777       1.563821      -0.019024
2 2022-07-28  None  30.273987  28.748697       1.543835      -0.018544
3 2022-07-29  None  30.282791  28.748617       1.523521       0.010653
4 2022-07-30  None  30.263046  28.748537       1.502896       0.011614

In [12]:
plot1=model.plot(forecast)
plot1

FigureWidgetResampler({
    'data': [{'fill': 'none',
              'line': {'color': 'rgba(45, 146, 255, 1.0)', 'width': 2},
              'mode': 'lines',
              'name': 'yhat1',
              'type': 'scatter',
              'uid': 'e02a93df-a673-4357-8870-d2b3dc2c9202',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([30.325214, 30.293575, 30.273987, ..., 25.03141 , 25.037561, 25.074883],
                         dtype=float32)},
             {'marker': {'color': 'black', 'size': 4},
              'mode': 'markers',
              'name': 'Actual',
              'type': 'scatter',
              'uid': '8971989d-20b0-4438-8f0e-e43e3a715dbd',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([nan, nan, nan, ..., nan, nan, nan])}],
    'layout': {'autosize': True,
               'font': {'size': 10},
               'height': 420,
               'hovermode': 'x unified',
               'margin': {'b': 0, 'l': 0, 'pad': 0, 'r': 10, 't': 10},
               'showlegend': True,
               'template': '...',
               'title': {'font': {'size': 12}},
               'width': 700,
               'xaxis': {'linewidth': 1.5,
                         'mirror': True,
                         'rangeselector': {'buttons': [{'count': 7, 'label': '1w', 'step': 'day', 'stepmode': 'backward'},
                                                       {'count': 1,
                                                        'label': '1m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 6,
                                                        'label': '6m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 1, 'label': '1y', 'step': 'year', 'stepmode': 'backward'},
                                                       {'step': 'all'}]},
                         'rangeslider': {'visible': True},
                         'showline': True,
                         'title': {'text': 'ds'},
                         'type': 'date'},
               'yaxis': {'linewidth': 1.5, 'mirror': True, 'showline': True, 'title': {'text': 'y'}}}
})

In [13]:
with open('Chennai_avg_model.pkl','wb') as f:
    pickle.dump(model,f)

In [14]:
model