In [1]:
from neuralprophet import NeuralProphet
import pandas as pd
from matplotlib import pyplot as plt
import pickle

C:\Users\namru\.conda\envs\env3\lib\site-packages\plotly_resampler\aggregation\aggregators.py:25: UserWarning: Could not import lttbc; will use a (slower) python alternative.
  warnings.warn("Could not import lttbc; will use a (slower) python alternative.")

In [3]:
df=pd.read_csv(r"C:\Users\namru\OneDrive\Desktop\TE project\Bangalore_1990_2022_BangaloreCity.csv")
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0

In [4]:
df.dtypes

time     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
dtype: object

In [5]:
df['time'] = pd.to_datetime(df['time'], format='%d-%m-%Y')

In [6]:
df.dtypes

time    datetime64[ns]
tavg           float64
tmin           float64
tmax           float64
prcp           float64
dtype: object

In [7]:
data=df[['time','tmax']]
data.dropna(inplace=True)
data.columns=['ds','y']
data.head()

WARNING - (py.warnings._showwarnmsg) - C:\Users\namru\AppData\Local\Temp\ipykernel_1784\2974680685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

          ds     y
0 1990-01-01  28.4
1 1990-01-02  26.5
2 1990-01-03  26.5
3 1990-01-04  27.4
4 1990-01-05  26.1

In [8]:
model=NeuralProphet()  #untrained neuralprophet model
model.fit(data,freq='D',epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 95.189% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 64
WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (177) is too small than the required number                     for the learning rate finder (251). The results might not be optimal.

Finding best initial lr:   0%|          | 0/251 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

           MAE       RMSE      Loss  RegLoss  epoch
0    14.013192  17.591137  0.389117      0.0      0
1    12.311212  15.393462  0.315732      0.0      1
2    10.880217  13.555708  0.256917      0.0      2
3     9.489461  11.826811  0.202382      0.0      3
4     8.324623  10.366848  0.159396      0.0      4
..         ...        ...       ...      ...    ...
995   1.302207   1.684094  0.004466      0.0    995
996   1.300201   1.682265  0.004453      0.0    996
997   1.304326   1.687438  0.004472      0.0    997
998   1.307788   1.689432  0.004482      0.0    998
999   1.308734   1.689811  0.004486      0.0    999

[1000 rows x 5 columns]

In [9]:
future=model.make_future_dataframe(data,periods=900)
forecast=model.predict(future)
forecast.head()

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 95.189% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 177it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

          ds     y      yhat1      trend  season_yearly  season_weekly
0 2022-07-26  None  27.885208  29.496128      -1.618121       0.007200
1 2022-07-27  None  27.838707  29.495708      -1.633192      -0.023810
2 2022-07-28  None  27.870779  29.495293      -1.648556       0.024042
3 2022-07-29  None  27.826296  29.494877      -1.664201      -0.004380
4 2022-07-30  None  27.786583  29.494459      -1.680004      -0.027871

In [11]:
plot1=model.plot(forecast)
plot1

FigureWidgetResampler({
    'data': [{'fill': 'none',
              'line': {'color': 'rgba(45, 146, 255, 1.0)', 'width': 2},
              'mode': 'lines',
              'name': 'yhat1',
              'type': 'scatter',
              'uid': '3082d931-4f85-41f1-8809-49bafe30fd88',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([27.885208, 27.838707, 27.870779, ..., 27.294334, 27.399155, 27.428864],
                         dtype=float32)},
             {'marker': {'color': 'black', 'size': 4},
              'mode': 'markers',
              'name': 'Actual',
              'type': 'scatter',
              'uid': '1321a81f-4481-439e-b1a6-79df3f4b9c4c',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([nan, nan, nan, ..., nan, nan, nan])}],
    'layout': {'autosize': True,
               'font': {'size': 10},
               'height': 420,
               'hovermode': 'x unified',
               'margin': {'b': 0, 'l': 0, 'pad': 0, 'r': 10, 't': 10},
               'showlegend': True,
               'template': '...',
               'title': {'font': {'size': 12}},
               'width': 700,
               'xaxis': {'linewidth': 1.5,
                         'mirror': True,
                         'rangeselector': {'buttons': [{'count': 7, 'label': '1w', 'step': 'day', 'stepmode': 'backward'},
                                                       {'count': 1,
                                                        'label': '1m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 6,
                                                        'label': '6m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 1, 'label': '1y', 'step': 'year', 'stepmode': 'backward'},
                                                       {'step': 'all'}]},
                         'rangeslider': {'visible': True},
                         'showline': True,
                         'title': {'text': 'ds'},
                         'type': 'date'},
               'yaxis': {'linewidth': 1.5, 'mirror': True, 'showline': True, 'title': {'text': 'y'}}}
})

In [14]:
with open('Bangalore_max_model.pkl','wb') as f:
    pickle.dump(model,f)

In [15]:
model