In [1]:
from neuralprophet import NeuralProphet
import pandas as pd
from matplotlib import pyplot as plt
import pickle

C:\Users\namru\.conda\envs\env3\lib\site-packages\plotly_resampler\aggregation\aggregators.py:25: UserWarning: Could not import lttbc; will use a (slower) python alternative.
  warnings.warn("Could not import lttbc; will use a (slower) python alternative.")

In [2]:
df=pd.read_csv(r"C:\Users\namru\OneDrive\Desktop\TE project\Bangalore_1990_2022_BangaloreCity.csv")
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0

In [3]:
df.dtypes

time     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
dtype: object

In [4]:
df['time'] = pd.to_datetime(df['time'], format='%d-%m-%Y')

In [5]:
df.dtypes

time    datetime64[ns]
tavg           float64
tmin           float64
tmax           float64
prcp           float64
dtype: object

In [6]:
data=df[['time','tmin']]
data.dropna(inplace=True)
data.columns=['ds','y']
data.head()

WARNING - (py.warnings._showwarnmsg) - C:\Users\namru\AppData\Local\Temp\ipykernel_11508\1344980971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

          ds     y
0 1990-01-01  19.1
2 1990-01-03  16.4
4 1990-01-05  14.2
5 1990-01-06  17.1
7 1990-01-08  16.6

In [7]:
model=NeuralProphet()  #untrained neuralprophet model
model.fit(data,freq='D',epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 89.348% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 64
WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (165) is too small than the required number                     for the learning rate finder (250). The results might not be optimal.

Finding best initial lr:   0%|          | 0/250 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

           MAE       RMSE      Loss  RegLoss  epoch
0    11.795067  14.268976  0.358895      0.0      0
1    10.441800  12.709005  0.294940      0.0      1
2     9.290339  11.334873  0.242032      0.0      2
3     8.306499  10.125793  0.198393      0.0      3
4     7.450855   9.050727  0.161620      0.0      4
..         ...        ...       ...      ...    ...
995   1.022034   1.356549  0.003905      0.0    995
996   1.021525   1.358417  0.003908      0.0    996
997   1.023087   1.359229  0.003918      0.0    997
998   1.018308   1.352644  0.003887      0.0    998
999   1.018936   1.353500  0.003889      0.0    999

[1000 rows x 5 columns]

In [8]:
future=model.make_future_dataframe(data,periods=900)
forecast=model.predict(future)
forecast.head()

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 89.348% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.889% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 165it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

          ds     y      yhat1      trend  season_yearly  season_weekly
0 2022-07-26  None  20.096989  19.335508       0.769755      -0.008275
1 2022-07-27  None  20.093056  19.335266       0.767766      -0.009977
2 2022-07-28  None  20.084408  19.335028       0.765654      -0.016274
3 2022-07-29  None  20.093868  19.334787       0.763375      -0.004294
4 2022-07-30  None  20.110109  19.334545       0.760904       0.014659

In [9]:
plot1=model.plot(forecast)
plot1

FigureWidgetResampler({
    'data': [{'fill': 'none',
              'line': {'color': 'rgba(45, 146, 255, 1.0)', 'width': 2},
              'mode': 'lines',
              'name': 'yhat1',
              'type': 'scatter',
              'uid': 'f8ee280f-f32e-49c4-b639-532850f26f9a',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([20.096989, 20.093056, 20.084408, ..., 15.586388, 15.580868, 15.596073],
                         dtype=float32)},
             {'marker': {'color': 'black', 'size': 4},
              'mode': 'markers',
              'name': 'Actual',
              'type': 'scatter',
              'uid': '3106dd4e-3c87-4aa8-a1d5-86b8a705a8b1',
              'x': array([datetime.datetime(2022, 7, 26, 0, 0),
                          datetime.datetime(2022, 7, 27, 0, 0),
                          datetime.datetime(2022, 7, 28, 0, 0), ...,
                          datetime.datetime(2025, 1, 8, 0, 0),
                          datetime.datetime(2025, 1, 9, 0, 0),
                          datetime.datetime(2025, 1, 10, 0, 0)], dtype=object),
              'y': array([nan, nan, nan, ..., nan, nan, nan])}],
    'layout': {'autosize': True,
               'font': {'size': 10},
               'height': 420,
               'hovermode': 'x unified',
               'margin': {'b': 0, 'l': 0, 'pad': 0, 'r': 10, 't': 10},
               'showlegend': True,
               'template': '...',
               'title': {'font': {'size': 12}},
               'width': 700,
               'xaxis': {'linewidth': 1.5,
                         'mirror': True,
                         'rangeselector': {'buttons': [{'count': 7, 'label': '1w', 'step': 'day', 'stepmode': 'backward'},
                                                       {'count': 1,
                                                        'label': '1m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 6,
                                                        'label': '6m',
                                                        'step': 'month',
                                                        'stepmode': 'backward'},
                                                       {'count': 1, 'label': '1y', 'step': 'year', 'stepmode': 'backward'},
                                                       {'step': 'all'}]},
                         'rangeslider': {'visible': True},
                         'showline': True,
                         'title': {'text': 'ds'},
                         'type': 'date'},
               'yaxis': {'linewidth': 1.5, 'mirror': True, 'showline': True, 'title': {'text': 'y'}}}
})

In [12]:
with open('Bangalore_min_model.pkl','wb') as f:
    pickle.dump(model,f)

In [13]:
model